#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_platinumcoin
#build/platinumcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_platinumcoin)

DEB_INSTALL_EXAMPLES_platinumcoind += debian/examples/*
DEB_INSTALL_MANPAGES_platinumcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix platinumcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f platinumcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake platinumcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_platinumcoin
	src/test_platinumcoin

# Ensure wrapper is set executable
binary-post-install/platinumcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/platinumcoind
binary-post-install/platinumcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/platinumcoin-qt
